body {font-size:14pt;font-family:Trebuchet MS,Times New Roman,Arial;text-align:center;background-image:url("/physrl/0_d25ad_b4e10c9f_XXL.jpg");background-size:contain;}
table {margin:auto;text-align:center;}
hr {color:red;size:5;}
#main-content-ext {vertical-align:top;}
#main-content {text-align:left;background-color:#FFFFFF;padding:7px;}
#backpanel {text-align:left;vertical-align:top;padding:7px;}
.sitetitle {background-color:#FFFFFF;font-family:Palatino Linotype,Book Antiqua,Palatino,serif;}
#sitemap {background-color:#FFFFFF;}
#classlinks {background-color:#FFFFFF;}
#credits_str {background-color:#FFFFFF;font-family:Tahoma,Geneva,sans-serif;}
.thead {font-size:19pt;font-weight:bold;font-style:italic}
.ttl1 {font-size:18pt;font-weight:bold;font-family:Mistral,Century Gothic,Times New Roman,Arial}
#main {width:*;}
#backpanel {width:150px;}
.bp-title {text-align:center;}
#empty-div {height:15px;}
#empty {width:35px;}
#main-content-ext {width:850px;}

